* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.quicksand-n {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.quicksand-l {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2c0;
}

.container {
  border-radius: 25px;
  width: 250px;
  height: 400px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;

}

.header {
  width: 250px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background: #000;*/
  display: flex;
  /*background-size: cover;*/
  background-image: url('./../src/bitmap.svg');
}

.header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

.body h2 {
  font-size: 20px;
  letter-spacing: 2px;
  /*margin-bottom: -10px;*/
}

.body sub {
  font-size: 7px;
}

.body ul {
  display: flex;
  margin-top: 1em;
  gap: 1em;
}

.body ul li {
  list-style: none;
  color: darkslategray;
}

.body p {
  font-size: 10px;
  width: 200px;
  font-weight: 600;
  margin-top: 1em;
  color: darkslategray;
}

.button {
  margin-top: 1em;

}

.button button {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: none;
  color: darkslategray;
}

.button button.btn-blue {
  background-color: #347ce9;
  color: white;
}
